<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Проверка заказов</title>
</head>

<body>
    <form target="_self" action="/" enctype="text/plain" method="get">
        <p> <input type="text" name="orderId" id="orderId" value="" /></p>
        <p></p><input type="submit"   /></p>
        <p><textarea cols=50, rows=35, disabled=true>{{.Data}}</textarea></p>
    </form>
</body>

</html>